<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <!-- <style>
            table, th, td {
                border: 1px solid black;
            }
tr:first-child {
    background-color: #dddddd;
}
    </style> -->
  </head>
  <body>
    <table style="width:100%">
            <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Zipcode</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Website</th>
                    
            </tr>
        <% for(var i=0; i < 
          .length; i++) { %>
         
           <tr>
             <td><%= title[i].id %></td>
             <td><%= title[i].name %></td>
             <td><%= title[i].username %></td>
             <td><%= title[i].email %></td>
             <td><%= title[i].address.city %></td>
             <td><%= title[i].address.zipcode %></td>
             <td><%= title[i].address.geo.lat %></td>
             <td><%= title[i].address.geo.lng %></td>
             <td><%= title[i].website %></td

           </tr>
        <% } %>
        </table>
  </body>
</html>
